h1{
    text-align: center;
}

#divnav{
    display: flex;
    justify-content: space-between;
}

#search{
    display: flex;
    justify-content: center;
}

#altdiv{
    display: flex;
    justify-content: center;
}

#registerdiv{
    display: flex;
    justify-content: center;
}

form label{
    display: block;
    float: left;
    width: 100px;
    text-align: right;
    margin-right: 10px;
    margin-bottom: 10px;
}
  
form input{
    display: block;
    float: left;
    margin-bottom: 10px;
}

#logindiv{
    display: flex;
    justify-content: center;
}

#btncon{
    display: flex;
    justify-content: center;
}